<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/prefixfree.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=195508860522391";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#featured"><h1>iCare <span class="subhead">Care the world</span></h1></a>
      </div><!-- navbar-header -->
      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#featured">HOME</a></li>
          <li><a href="#mission">MISSION</a></li>
          <li><a href="#statistics">STATISTICS</a></li>
          <li><a href="#patients">PATIENTS</a></li>
          <li><a href="/iglobe">CARE GLOBE</a></li>
          <li><a href="/patients">SUPPORT A PATIENT</a></li>
          <li><a href="#staff">TEAM</a></li>
          <li><div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div></li>
        </ul>

      </div><!-- collapse navbar-collapse -->
    </div><!-- container -->
  </nav>

  <div class="carousel fade" data-ride="carousel" id="featured">

    <ol class="carousel-indicators">
    </ol>

    <div class="carousel-inner fullheight">
      <div class="item"><video width="100%" height="100%" autoplay="autoplay" loop="loop" poster="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/video/upload/so_0/Final_homepage_video_kipygx.jpeg">
          <source src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/video/upload/Final_homepage_video_kipygx.webm" type="video/webm">
          <source src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/video/upload/Final_homepage_video_kipygx.mp4" type="video/mp4">
          <source src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/video/upload/Final_homepage_video_kipygx.ogv" type="video/ogg">
        </video></div>
      <div class="item"><img src="/images/hero2.jpg" alt="hero2"></div>
      <div class="item"><img src="/images/hero3.jpg" alt="hero3"></div>
      <div class="item"><img src="/images/hero4.jpg" alt="hero4"></div>
      <div class="item"><img src="/images/hero5.jpg" alt="hero5"></div>
      <div class="item"><img src="/images/hero6.jpg" alt="hero6"></div>
      <div class="item"><img src="/images/hero7.JPG" alt="hero7"></div>

    </div><!-- carousel-inner -->

    <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#featured" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div><!-- featured carousel -->
</header>

<div class="main">
  <div class="page" id="mission">
    <div class="content container">
      <h2>Mission</h2>
      <div class="row">
        <p class="col-md-5 col-md-offset-1"><%=statement1%></p>
        <p class="col-md-5"><%=statement2%></p>
      </div><!-- row -->
    </div><!-- content container -->
  </div><!-- mission page -->

  <div class="page" id="statistics">
    <div class="content container">
      <h2>Statistics</h2>
      <div class="row">
        <article class="statistics col-md-4 col-sm-6 col-xs-12">
          <h1 class="stats"><%=amt_raised%></h1>
          <h3><strong>Fund Raised</strong></h3>
          <p>in USD.</p>
        </article>

        <article class="statistics col-md-4 col-sm-6 col-xs-12">
          <h1 class="stats"><%=project_count%></h1>
          <h3><strong>Projects</strong></h3>
          <p>Completly funded projects by caring minds.</p>
        </article>

        <article class="statistics col-md-4 col-sm-6 col-xs-12">
          <h1 class="stats"><%=donation_count%></h1>
          <h3><strong>Donations</strong></h3>
          <p>Total number of participated caring minds.Thanks.</p>
        </article>
      </div><!-- row -->
    </div><!-- content container -->
  </div><!-- statistics page -->

  <div class="page" id="patients">
    <div class="container-fluid">
      <h2>Testimonials</h2>
      <div class="row">
        <blockquote class="col-md-6 col-lg-3" id="patient1" style="background-image: url(<%=patient1_image_url%>)" >
          <div class="quote">
            <span class="intro"><%=patient1_heading%></span>
            <span class="more"><%=patient1_desc%></span>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                <%=patient1_fund_raised%> of <%=patient1_fund_needed%> funded
              </div>

            </div>
            <div><a href="/patientDetail"><button type="button" class="btn btn-success">Fund me!</button></a></div>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="patient2" style="background-image: url(<%=patient2_image_url%>)">
          <div class="quote">
            <span class="intro"><%=patient2_heading%></span>
            <span class="more"><%=patient2_desc%></span>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                <%=patient2_fund_raised%> of <%=patient2_fund_needed%> funded
              </div>

            </div>
            <div><a href="/patientDetail"><button type="button" class="btn btn-success">Fund me!</button></a></div>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="patient3" style="background-image: url(<%=patient3_image_url%>)">
          <div class="quote">
            <span class="intro"><%=patient3_heading%></span>
            <span class="more"><%=patient3_desc%></span>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                <%=patient3_fund_raised%> of <%=patient3_fund_needed%> funded
              </div>

            </div>
            <div><a href="/patientDetail"><button type="button" class="btn btn-success">Fund me!</button></a></div>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="patient4" style="background-image: url(<%=patient4_image_url%>)">
          <div class="quote">
            <span class="intro"><%=patient4_heading%></span>
            <span class="more"><%=patient4_desc%></span>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                <%=patient4_fund_raised%> of <%=patient4_fund_needed%> funded
              </div>

            </div>
            <div><a href="/patientDetail"><button type="button" class="btn btn-success">Fund me!</button></a></div>
          </div>
        </blockquote>

      </div>
      <div class="row">
        <blockquote class="col-md-6 col-lg-3" id="patient5" style="background-image: url(<%=patient5_image_url%>)">
          <div class="quote">
            <span class="intro"><%=patient5_heading%></span>
            <span class="more"><%=patient5_desc%></span>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                <%=patient5_fund_raised%> of <%=patient5_fund_needed%> funded
              </div>

            </div>
            <div><a href="/patientDetail"><button type="button" class="btn btn-success">Fund me!</button></a></div>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="patient6" style="background-image: url(<%=patient6_image_url%>)">
          <div class="quote">
            <span class="intro"><%=patient6_heading%></span>
            <span class="more"><%=patient6_desc%></span>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                <%=patient6_fund_raised%> of <%=patient6_fund_needed%> funded
              </div>

            </div>
            <div><a href="/patientDetail"><button type="button" class="btn btn-success">Fund me!</button></a></div>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="patient7" style="background-image: url(<%=patient7_image_url%>)">
          <div class="quote">
            <span class="intro"><%=patient7_heading%></span>
            <span class="more"><%=patient7_desc%></span>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                <%=patient7_fund_raised%> of <%=patient7_fund_needed%> funded
              </div>

            </div>
            <div><a href="/patientDetail"><button type="button" class="btn btn-success">Fund me!</button></a></div>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="patient8" style="background-image: url(<%=patient8_image_url%>)">
          <div class="quote">
            <span class="intro"><%=patient8_heading%></span>
            <span class="more"><%=patient8_desc%></span>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                <%=patient8_fund_raised%> of <%=patient8_fund_needed%> funded
              </div>

            </div>
            <div><a href="/patientDetail"><button type="button" class="btn btn-success">Fund me!</button></a></div>
          </div>
        </blockquote>
      </div>
    </div><!-- container -->
  </div><!-- patients page -->

  <div class="page" id="staff">
    <div class="container-fluid">
      <h2 id="ourstaff">iCare Team</h2>
      <div class="row">

        <div class="teammember col-lg-3">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-circle" src="images/profile_pic.jpg" alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Jue</h3>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- teammember -->

        <div class="teammember col-lg-3">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-circle" src="images/profile_Nirupama.jpg" alt="jue">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Nirupama</h3>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- teammember -->

        <div class="teammember col-lg-3">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-circle" src="./images/profile_tithi.jpg" alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Tithi</h3>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- teammember -->

        <div class="teammember col-lg-3">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-circle" src="./images/profile_Surbhi.jpg" alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Surbhi</h3>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- teammember -->

        <div class="teammember col-lg-3">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-circle" src="./images/profile_Sanchay.jpg" alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Sanchay</h3>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- teammember -->

        <div class="teammember col-lg-3">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-circle" src="images/profile_pramod.jpeg" alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Pramod</h3>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- teammember -->

        <div class="teammember col-lg-3">
          <div class="row">
            <div class="photo col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-0">
              <img class="img-circle" src="./images/profile_suman.jpg" alt="Photo of Dr Sanders">
            </div><!-- photo -->
            <div class="info col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-6 col-lg-8">
              <h3>Suman</h3>
            </div><!-- info -->
          </div> <!-- inner row -->
        </div> <!-- teammember -->`
      </div><!-- outer row -->
    </div><!-- container -->
  </div><!-- staff page -->


</div><!-- main -->

<footer>
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div id="google_translate_element"></div>
        <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
          }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <p>Call us toll-free at <span class="phone">+1 800-ICARE-01</span></p>
        <p>All contents &copy; 2016 <a href="http://icare.com">icare.com</a>. All rights reserved.</p>
      </div><!-- col-sm-6 -->
      <div class="col-sm-6">
        <nav class="navbar navbar-default" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </nav>
      </div><!-- col-sm-6 -->
    </div><!-- row -->
  </div><!-- content container -->


  <!--  social -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  <a class="twitter-share-button"
     href="https://twitter.com/share">
    Tweet
  </a>
  <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  </script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <!-- Place this tag where you want the +1 button to render. -->
  <div class="g-plusone" data-annotation="inline" data-width="300"></div>
  <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a>
  <!-- Please call pinit.js only once per page -->
  <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
  </div>



</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="js/myscript.js"></script>
</body>
</html>
